.page.theme_light {
  --main-text-color: #353430;
  --text-color: var(--main-text-color);
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --title-shadow: var(--accent-color);
  --text-box-color: var(--accent-color);
  --section-title-color: var(--main-text-color);
  --hover-color: 1px solid var(--main-text-color);
  --corner-color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --text-color: var(--main-text-color);
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --title-shadow: var(--accent-color);
    --text-box-color: var(--accent-color);
    --section-title-color: var(--main-text-color);
    --hover-color: 1px solid var(--main-text-color);
    --corner-color: var(--main-text-color);
  }
}
